html,
body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 88.75em;
  padding: 0 3.75em;
  margin: 0 auto;
}

@media screen and (max-width: 1380px) {
  html,
  body {
    font-size: 1.13vw;
  }
}

@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 1.56vw;
  }
  .container {
    padding: 0 2.5em;
  }
}

@media screen and (max-width: 760px) {
  html,
  body {
    font-size: 16px;
  }
  .container {
    padding: 0 1.313em;
  }
}

@media screen and (max-width: 375px) {
  html,
  body {
    font-size: 4.27vw;
  }
}
