body {
	/* Colors */
}

.form-block {
	display: none;
}
.form-active {
	display: block;
}

.form-title {
	font-size: 2rem;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 1.5rem;
}
.form-text {
	font-size: 1.875rem;
	font-weight: 300;
	line-height: 1.875rem;
}
.input-check {
	cursor: pointer;
	width: fit-content;
	display: flex;
	gap: 0.88rem;
	input {
		display: none;
	}
	span {
		margin-top: 0.3rem;
		flex-shrink: 0;
		width: 1.25rem;
		height: 1.25rem;
		background-color: transparent;
		border-radius: 50%;
		border: 0.063rem solid #000;
		overflow: hidden;
		transition: 150ms all;
	}
	input:checked + span {
		background-color: #d1bdaf;
	}
}
.input-field {
	input {
		border-radius: 3.75rem;
		border: 0.063rem solid #000;
		width: 100%;
		height: 2.75rem;
		padding: 0 1.4rem;
		font-family: Outfit;
		font-size: 1.25rem;
		font-weight: 300;
		line-height: normal;
		transition: 150ms all;
		&::placeholder {
			color: #c1c1c1;
			font-family: Outfit;
			font-size: 1.25rem;
			font-weight: 300;
			line-height: normal;
		}
		&.error {
			border-color: #d41d1d;
		}
	}
}
.form-btn-next {
	position: absolute;
	bottom: 2.05rem;
	right: 2.2rem;
	border-radius: 3.75rem;
	border: 0.063rem solid #000;
	background-color: #d1bdaf;
	padding: 0.65rem 2rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: 150ms all;
	span {
		color: #000;
		font-size: 1.875rem;
		line-height: normal;
		font-weight: 500;
	}
	img {
		width: 2.20313rem;
		transition: 150ms all;
	}
	&:hover {
		background-color: #e6c4ae;
	}
	&:hover img {
		transform: translateX(0.5rem);
	}
}
.form-btn-next.disabled {
	background-color: #bbbbbb;
	cursor: default;
	span {
		color: #686565;
	}
	&:hover {
		background-color: #bbbbbb;
	}
	&:hover img {
		transform: translateX(0);
	}
	img {
		filter: brightness(0) saturate(100%) invert(40%) sepia(9%) saturate(99%)
			hue-rotate(315deg) brightness(96%) contrast(90%);
	}
}
.form-submit {
	position: absolute;
	bottom: 2.05rem;
	right: 2.2rem;
	left: 2.2rem;
	border-radius: 3.75rem;
	border: 0.063rem solid #000;
	background-color: #d1bdaf;
	padding: 0.62rem 3.75rem;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.25rem;
	text-transform: uppercase;
	transition: 150ms all;
	&:hover {
		background-color: #e6c4ae;
	}
}
.form-submit.disabled {
	background-color: #bbbbbb;
	cursor: default;
	color: #686565;
	&:hover {
		background-color: #bbbbbb;
	}
}

@media screen and (max-width: 1024px) {
	.form-title {
		font-size: 1.25rem;
		margin-bottom: 1rem;
	}
	.form-text {
		font-size: 1.25rem;
		line-height: normal;
	}
	.input-check {
		gap: 0.55rem;
		span {
			margin-top: 0.45rem;
			width: 0.80019rem;
			height: 0.80019rem;
		}
	}
	.input-field {
		input {
			font-size: 0.9375rem;
			padding: 0 1.25rem;
			height: 2.3125rem;

			&::placeholder {
				font-size: 0.9375rem;
				line-height: normal;
			}
		}
	}
	.form-btn-next {
		bottom: 1.5rem;
		right: 1.4rem;
		padding: 0.44rem 1.25rem;
		gap: 0.4rem;
		span {
			font-size: 1.25rem;
		}
		img {
			width: 1.41031rem;
		}
		&:hover img {
			transform: translateX(0.4rem);
		}
	}
	.form-submit {
		bottom: 1.5rem;
		right: 1.4rem;
		left: 1.4rem;
		padding: 0.4rem 1.5rem;
		font-size: 0.875rem;
		line-height: 0.875rem;
	}
}

@media screen and (max-width: 760px) {
	.form-title {
		font-size: 0.9375rem;
		margin-bottom: 1.25rem;
		text-align: center;
	}
	.form-text {
		font-size: 0.9375rem;
	}
	.input-check {
		gap: 0.5rem;
		span {
			margin-top: 0.25rem;
			width: 0.72844rem;
			height: 0.72844rem;
		}
	}
	.input-field {
	}
	.form-btn-next {
		right: 50%;
		transform: translateX(50%);
		padding: 0.3rem 1rem;
		gap: 0.3rem;
		span {
			font-size: 0.875rem;
		}
		img {
			width: 1.0625rem;
		}
		&:hover img {
			transform: translateX(0.3rem);
		}
	}
	.form-submit {
		right: 1.22rem;
		left: 1.22rem;
		padding: 0.3rem 4.15rem;
		font-size: 0.625rem;
		line-height: 0.625rem;
	}
}
