<div id="allergy" class="allergy form-block">
  <fieldset>
    <legend class="form-title">Avez-vous déjà souffert à cause de:</legend>
    <div class="allergy__box">
      <label class="input-check">
        <input type="radio" name="allergy" value="Poil incarné" />
        <span></span>
        <p class="form-text">Poil incarné</p>
      </label>
      <label class="input-check">
        <input
          type="radio"
          name="allergy"
          value="La nécessité de se raser quotidiennement"
        />
        <span></span>
        <p class="form-text">La nécessité de se raser quotidiennement</p>
      </label>
      <label class="input-check">
        <input type="radio" name="allergy" value="Irritation de la peau" />
        <span></span>
        <p class="form-text">Irritation de la peau</p>
      </label>
      <label class="input-check">
        <input
          type="radio"
          name="allergy"
          value="Douceur insuffisante de la peau"
        />
        <span></span>
        <p class="form-text">Douceur insuffisante de la peau</p>
      </label>
      <label class="input-check">
        <input type="radio" name="allergy" value="Un autre" />
        <span></span>
        <p class="form-text">Un autre</p>
      </label>
    </div>
  </fieldset>
  <button type="button" data-id="epilation" class="form-btn-next">
    <span>NEXT</span>
    <img src="/img/icons/vector-left.svg" alt="Vector next" />
  </button>
</div>
