<div id="destination" class="destination form-block">
  <fieldset>
    <legend class="form-title">
      Avez-vous déjà fait une épilation au laser?
    </legend>
    <div class="destination__box">
      <label class="input-field">
        <input type="text" name="destination-name" placeholder="Nom*" />
      </label>
      <label class="input-field">
        <input
          type="text"
          name="destination-surname"
          placeholder="Nom de famille*"
        />
      </label>
      <label class="input-field">
        <input type="email" name="destination-email" placeholder="E-mail*" />
      </label>
      <label class="input-field">
        <input
          type="number"
          name="destination-number"
          placeholder="Téléphone*"
        />
      </label>
      <label class="destination__check">
        <input
          type="checkbox"
          name="destination-check"
          value="En cochant le bouton, vous nous autorisez à vous envoyer des SMS et des e-mails contenant des informations sur les mises à jour et les promotions"
        />
        <span></span>
        <p class="destination__text">
          En cochant le bouton, vous nous autorisez à vous envoyer des SMS et
          des e-mails contenant des informations sur les mises à jour et les
          promotions
        </p>
      </label>
    </div>
  </fieldset>
  <button
    type="button"
    data-id="reservation"
    class="destination__btn form-btn-next"
  >
    <span>NEXT</span>
    <img src="/img/icons/vector-left.svg" alt="Vector next" />
  </button>
</div>
