<div class="destination form-choose">
  <fieldset>
    <legend class="form-title">
      Avez-vous déjà fait une épilation au laser?
    </legend>
    <div class="destination__box">
      <label class="input-field">
        <input type="text" name="destination-name" placeholder="Nom*" />
      </label>
      <label class="input-field">
        <input
          type="text"
          name="destination-surname"
          placeholder="Nom de famille*"
        />
      </label>
      <label class="input-field">
        <input type="email" name="destination-email" placeholder="E-mail*" />
      </label>
      <label class="input-field">
        <input
          type="number"
          name="destination-number"
          placeholder="Téléphone*"
        />
      </label>
    </div>
  </fieldset>
  <button type="button" class="destination__btn form-btn-next">
    <span>NEXT</span>
    <img src="/img/icons/vector-left.svg" alt="Vector next" />
  </button>
</div>
