<div class="epilation form-choose">
  <fieldset>
    <legend class="form-title">
      Où devons-nous envoyer votre coupon de réduction?
    </legend>
    <div class="epilation__box">
      <label class="input-check">
        <input type="radio" name="epilation" value="Oui" />
        <span></span>
        <p class="form-text">Oui</p>
      </label>
      <label class="input-check">
        <input type="radio" name="epilation" value="Non" />
        <span></span>
        <p class="form-text">Non</p>
      </label>
    </div>
  </fieldset>
  <button type="button" data-id="epilation" class="form-btn-next">
    <span>NEXT</span>
    <img src="/img/icons/vector-left.svg" alt="Vector next" />
  </button>
</div>
