<div id="reservation" class="reservation form-block">
  <fieldset>
    <legend class="form-title">
      Inscrivez-vous maintenant pour obtenir une peau belle, lisse et sans
      poils. Réservez une date qui vous convient le plus tôt possible
    </legend>
    <div class="reservation__box">
      <div class="reservation__date"></div>
    </div>
  </fieldset>
  <button type="button" data-id="submit" class="reservation__btn form-btn-next">
    <span>NEXT</span>
    <img src="/img/icons/vector-left.svg" alt="Vector next" />
  </button>
</div>
