<div id="submit" class="submit form-block">
  <fieldset>
    <div class="submit__box">
      <div class="submit__box-inputs">
        <label class="input-field">
          <input
            type="text"
            name="submit-name"
            id="submit-name"
            placeholder="Nom*"
          />
        </label>

        <label class="input-field">
          <input
            type="text"
            id="submit-surname"
            name="submit-surname"
            placeholder="Nom de famille*"
          />
        </label>

        <label class="input-field">
          <input
            type="email"
            id="submit-email"
            name="submit-email"
            placeholder="E-mail*"
          />
        </label>

        <label class="input-field">
          <input
            type="tel"
            id="submit-tel"
            name="submit-tel"
            placeholder="Téléphone*"
          />
        </label>

        <label>
          <textarea
            class="submit__textarea"
            rows="2"
            id="submit-textarea"
            name="submit-message"
            placeholder="Quel est le meilleur moment pour vous contacter pour confirmer votre rendez-vous?"
          ></textarea>
        </label>
      </div>

      <label class="submit__check">
        <input
          type="checkbox"
          id="submit-check"
          name="submit-check"
          value="«Je ne manquerai PAS mon rendez-vous après qu'il soit prévu parce que
je respecte votre temps et je comprends que c'est injuste envers les autres»"
        />
        <span></span>
        <div class="submit__info">
          <p class="submit__subtitle">JE RECONNAÎT CE QUI SUIT :</p>
          <p class="submit__text">
            «Je ne manquerai PAS mon rendez-vous après qu'il soit prévu parce
            que je respecte votre temps et je comprends que c'est injuste envers
            les autres»
          </p>
        </div>
      </label>
    </div>
  </fieldset>
  <button type="submit" data-id="completion" class="submit__btn form-submit">
    Obtenez une opportunité <br />unique maintenant
  </button>
</div>
