<div id="survey-area" class="survey-area form-block form-active">
  <fieldset>
    <legend class="form-title">
      Quelle(s) zone(s) de votre corps souhaitez-vous traiter?
    </legend>
    <div class="survey-area__box">
      <label class="input-check">
        <input type="radio" name="survey-area" value="Tout le corps" />
        <span></span>
        <p class="form-text">Tout le corps</p>
      </label>
      <label class="input-check">
        <input type="radio" name="survey-area" value="Jambes" />
        <span></span>
        <p class="form-text">Jambes</p>
      </label>
      <label class="input-check">
        <input type="radio" name="survey-area" value="Visage" />
        <span></span>
        <p class="form-text">Visage</p>
      </label>
      <label class="input-check">
        <input type="radio" name="survey-area" value="Aisselles" />
        <span></span>
        <p class="form-text">Aisselles</p>
      </label>
      <label class="input-check">
        <input type="radio" name="survey-area" value="Bikini" />
        <span></span>
        <p class="form-text">Bikini</p>
      </label>
      <label class="input-check">
        <input type="radio" name="survey-area" value="Autre" />
        <span></span>
        <p class="form-text">Autre</p>
      </label>
    </div>
  </fieldset>
  <button
    type="button"
    data-id="allergy"
    class="survey-area__btn form-btn-next btn-next"
  >
    <span>NEXT</span>
    <img src="/img/icons/vector-left.svg" alt="Vector next" />
  </button>
</div>
