<section class="authorization">
  <div class="container">
    <div class="authorization__body">
      <div class="authorization__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam
        necessitatibus repellat quae, animi unde nostrum ratione rem
        exercitationem facere maxime aliquam provident facilis dolorum commodi,
        quaerat laboriosam sed ducimus? Ipsam expedita esse ut. Labore deserunt
        dolorem, dolores facere ratione explicabo excepturi eum laborum.
        Possimus molestiae incidunt totam debitis repudiandae accusamus magni,
        harum minima pariatur commodi accusantium consequuntur eos vitae tempore
        quidem? Maxime at cupiditate in sapiente ad amet minus tempora,
        perferendis cumque quibusdam doloremque? Ratione, neque eos modi libero
        ex nesciunt odit, quisquam molestiae obcaecati consectetur voluptatum
        nisi nobis sunt reiciendis temporibus assumenda soluta nihil, quia quae
        sint rerum recusandae.Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Quam necessitatibus repellat quae, animi unde nostrum
        ratione rem exercitationem facere maxime aliquam provident facilis
        dolorum commodi, quaerat laboriosam sed ducimus? Ipsam expedita esse ut.
        Labore deserunt dolorem, dolores facere ratione explicabo excepturi eum
        laborum. Possimus molestiae incidunt totam debitis repudiandae accusamus
        magni, harum minima pariatur commodi accusantium consequuntur eos vitae
        tempore quidem? Maxime at cupiditate in sapiente ad amet minus tempora,
        perferendis cumque quibusdam doloremque? Ratione, neque eos modi libero
        ex nesciunt odit, quisquam molestiae obcaecati consectetur voluptatum
        nisi nobis sunt reiciendis temporibus assumenda soluta nihil, quia quae
        sint rerum recusandae.Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Quam necessitatibus repellat quae, animi unde nostrum
        ratione rem exercitationem facere maxime aliquam provident facilis
        dolorum commodi, quaerat laboriosam sed ducimus? Ipsam expedita esse ut.
        Labore deserunt dolorem, dolores facere ratione explicabo excepturi eum
        laborum. Possimus molestiae incidunt totam debitis repudiandae accusamus
        magni, harum minima pariatur commodi accusantium consequuntur eos vitae
        tempore quidem? Maxime at cupiditate in sapiente ad amet minus tempora,
        perferendis cumque quibusdam doloremque? Ratione, neque eos modi libero
        ex nesciunt odit, quisquam molestiae obcaecati consectetur voluptatum
        nisi nobis sunt reiciendis temporibus assumenda soluta nihil, quia quae
        sint rerum recusandae.Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Quam necessitatibus repellat quae, animi unde nostrum
        ratione rem exercitationem facere maxime aliquam provident facilis
        dolorum commodi, quaerat laboriosam sed ducimus? Ipsam expedita esse ut.
        Labore deserunt dolorem, dolores facere ratione explicabo excepturi eum
        laborum. Possimus molestiae incidunt totam debitis repudiandae accusamus
        magni, harum minima pariatur commodi accusantium consequuntur eos vitae
        tempore quidem? Maxime at cupiditate in sapiente ad amet minus tempora,
        perferendis cumque quibusdam doloremque? Ratione, neque eos modi libero
        ex nesciunt odit, quisquam molestiae obcaecati consectetur voluptatum
        nisi nobis sunt reiciendis temporibus assumenda soluta nihil, quia quae
        sint rerum recusandae.
      </div>
    </div>
  </div>
</section>
