<section class="authorization">
  <div class="container">
    <div class="authorization__body">
      <div class="authorization__box-form">
        <form class="authorization__form choice-form">
          <load src="partials/forms/survey-area.html" />
        </form>
      </div>
      <div class="authorization__content">
        <h2 class="authorization__title">
          Pourquoi l’épilation au laser chez TOUCHE Laser Clinic?
        </h2>
        <ul class="authorization__list">
          <li class="authorization__item">
            Le meilleur laser Soprano Titanium, qui combine la technologie
            consistant à combiner trois longueurs d'ondes (alexandrite, diode et
            néodyme) en un seul faisceau. Il s’agit de l’épilation au laser la
            plus rapide, la plus sûre et la plus efficace au monde
          </li>
          <li class="authorization__item">
            Cosmétologues professionnels qualifiés. Nous faisons l'épilation
            pour vous comme nous la ferions pour nous-mêmes, avec minutie et
            attention
          </li>
          <li class="authorization__item">
            Nous faisons un excellent travail à un prix raisonnable! Pas de
            démarches inutiles
          </li>
          <li class="authorization__item">
            Vous serez satisfaite de votre peau lisse et agréable pour de
            nombreuses années
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
