<section class="hero">
  <div class="container">
    <div class="hero__body">
      <div class="hero__content">
        <a href="./index.html" class="hero__logo">
          <img src="./img/icons/logo.svg" alt="Logo" />
        </a>
        <h1 class="hero__title">
          Obtenez une peau lisse, saine et belle sans poils
        </h1>
        <p class="hero__sumtitle">
          Vous souffrez toujours d'irritations, de poils incarnés et passez
          beaucoup de temps à vous raser? Essayez l'épilation au laser avec le
          meilleur appareil Soprano Titanium au monde
        </p>
        <div class="hero__box">
          <p>
            Faites un court test pour déterminer si l’épilation au laser vous
            convient. Toutes les régions du corps que vous souhaitez peuvent
            être faites en une seule séance
          </p>
        </div>
        <div class="hero__btn-wrapp">
          <button class="hero__btn vector">
            <img
              src="./img/icons/vector-down.svg"
              alt="Vector down"
              class="vector__icon"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
