<section class="hero">
  <video preload="auto" autoplay muted loop class="hero__bg-video">
    <source src="./img/hero/bg-mov/bg-mov.mp4" type="video/mp4" />
    <source src="./img/hero/bg-mov/bg-mov.webm" type="video/webm" />
  </video>
  <div class="hero__container">
    <div class="container">
      <div class="hero__body">
        <div class="hero__address-body">
          <address class="hero__address">
            <a
              href="https://maps.app.goo.gl/7mvBzBC4Zu815xKD6"
              target="_blank"
              rel="noopener noreferrer"
            >
              6900 Boulevard Decarie,<br />
              Montréal, H3X 2T8
            </a>
            <a
              href="https://maps.app.goo.gl/qspVhwtPGpc53ybG9"
              target="_blank"
              rel="noopener noreferrer"
            >
              410 rue Saint Nicolas,<br />
              Montréal, H2Y 2P5
            </a>
          </address>
        </div>
        <div class="hero__content">
          <a href="./index.html" class="hero__logo">
            <img src="./img/icons/logo.svg" alt="Logo" />
          </a>
          <h1 class="hero__title">
            Obtenez une peau lisse, saine et belle sans poils
          </h1>
          <p class="hero__sumtitle">
            Vous souffrez toujours d'irritations, de poils incarnés et passez
            beaucoup de temps à vous raser? Essayez l'épilation au laser avec le
            meilleur appareil Soprano Titanium au monde
          </p>
          <div class="hero__box">
            <p>
              Faites un court test pour déterminer si l’épilation au laser vous
              convient. Toutes les régions du corps que vous souhaitez peuvent
              être faites en une seule séance
            </p>
          </div>
          <div class="hero__btn-wrapp">
            <button class="hero__btn vector">
              <img
                src="./img/icons/vector-down.svg"
                alt="Vector down"
                class="vector__icon"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
