.destination {
	&__box {
		display: flex;
		flex-direction: column;
		row-gap: 0.6rem;
	}
	&__check {
		margin-top: 1.55rem;
		cursor: pointer;
		width: fit-content;
		display: flex;
		gap: 0.88rem;
		input {
			display: none;
		}
		span {
			margin-top: 0.3rem;
			flex-shrink: 0;
			width: 1.25rem;
			height: 1.25rem;
			background-color: transparent;
			stroke-width: 1px;
			border-radius: 50%;
			border: 0.063rem solid #000;
			overflow: hidden;
			transition: 150ms all;
		}
		input:checked + span {
			background-color: #d1bdaf;
		}
	}
	&__text {
		width: 13.8125rem;
		font-size: 0.75rem;
		font-weight: 300;
		line-height: normal;
	}
	&__btn {
	}
}
